.Topbar {
position: fixed;
width: 100%;
z-index: 2;
display: flex;
flex-direction: row;
column-gap: 2vw;
padding: 1vh;
height: 9vh;
background-color: white;
opacity: 80%;
color: green;
align-items: center;
text-align: left;
}

.button1 {
margin-left: 79vw;
margin-top: 1.7vh;
color: rgb(25, 27, 25);
text-decoration: none; 
font-size: 17px;
background-color: whitesmoke;
height: 3.2vh;
width: 6vw;
border-radius: 9.5px;
}

.button1:hover{
transform: scale(1.5);
background-color: whitesmoke;
}

.button1 a{
text-decoration: none;
color: rgb(12, 12, 12);
}

.button1 p{
margin-left: 0.5vw;
margin-top: 0.29vh;
font-weight: 600;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
position: relative;
}

.Topbar h1{
color: red;
font-family: 'Dancing Script', cursive;
position: absolute;
top: 0.1vh;
left: 80vh;
}

@media (min-width: 320px) and (max-width: 768px) {

.Topbar {
    justify-content: center; /* Center items for smaller screens */
    height: 10vh;
    padding: 0.5vh;
}
  
.button1 {
    font-size: 14px;
    height: 2.5vh;
    width: 5vw;
    background-color: whitesmoke;
    height: 5.2vh;
    width: 15vw;
    border-radius: 9.5px;
}
  
.Topbar h1 {
    position: static; 
    transform: none; 
    margin-right: -70vw; 
}

}






